img.logo {
}

div.logo {
    background-color: #000;
    width: 80%;
    height: 10%;
    position: absolute;
    top: 25%;
    left: 19%;
    
}

@media only screen and (max-width: 768px) {
div.logo {
    position: relative;
    
}
}
