img.logo {
}

div.logo {
    background-color: #000;
    width: 80%;
    position: fixed;
    top: inherit;
    left: 20%;
    
}

@media only screen and (max-width: 768px) {
div.logo {
    position: relative;
    
}
}
