<meta charset="utf-8">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ site.css.url }}/css/normalize.css">
<link rel="stylesheet" href="{{ site.css.url }}/css/tumblenet.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/style.css">

<!-- Scripts -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.css.url }}/js/tumblenet.js"></script>

<script>
  (function() {
    var cx = '013719652570820795841:uezdblbjonc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<title>{{ site.title }}</title>
