<meta charset="utf-8">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ site.css.url }}/css/normalize.css">
<link rel="stylesheet" href="{{ site.css.url }}/css/tumblenet.min.css">

<!-- Scripts -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.css.url }}/js/tumblenet.js"></script>


{% include searchjs.html %}

<title>{{ site.title }}</title>


<link rel="stylesheet" href="{{ site.url }}/css/style.css">
